.container {
  
  background-color: darkslategray;
}

drawer {
    z-index: 2;
    position: absolute;
    top: 0px;
    bottom: 0px;
    transition: -webkit-transform 0.3s ease-out;
    will-change: transform;
    background-color: white;
    overflow-y: auto;
    left: 0px;
    transform: translateX(0%);
    box-shadow: rgba(0, 0, 0, 0.14902) 2px 2px 4px;
}

.sidebarClass {
    z-index: 4 !important;
}

.overlayClass {
    z-index: 3 !important;
}

.btn-outline-secondary:hover {
    background-color: rgb(70, 76, 85) !important;
    border-color: rgb(16, 19, 22) !important;
    color: #ffffff !important;
}

.btn-outline-secondary {
    transition: all 0.2s ease-in-out !important;
}