.root-div{
    padding-left: 30px;
    padding-top: 15px;
}

.root-div h3 {
	padding-bottom: 20px;
	
}

.form-class {
    width: 300px;
	padding-top: 40px;
}

.field-class {
	padding-top: 30px;
}

.field-title {
	display: inline-block;
	width: 200px;
	padding-bottom: 30px;
	font-size: 18px;

}

.field-value {
	display: inline-block;
	font-size: 18px;
	color: #BE5108;
}